.input {
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    outline-color: var(--primary);
    background: var(--white);
    padding: 7px 15px;
    color: var(--black);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    font-family: var(--font-family);
}

.input::placeholder {
    color: var(--gray);
}

.inputWrapper {
    position: relative;
}

.error {
    border: 1px solid var(--red);
}

.errorMessage {
    position: absolute;
    bottom: -20px;
    left: 0;
    color: var(--red);
    font-size: 12px;
}