.title {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: baseline;
    justify-content: left;
    gap: 20px;
}

.hhTitle {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: baseline;
    justify-content: left;
    gap: 20px;
}