.header {
    display: none;
}

.mobileMenu {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #F5F6F8;
    padding: 20px 10px;
    overflow-y: scroll;
}

.menuClose {
    position: fixed;
    top: 15px;
    right: 15px;
}

@media (max-width: 765px) {
    .header {
        display: grid;
        grid-template-columns: 1fr 40px;
        gap: 10px;
        margin: 15px 15px 0;
    }

}