.sortIcon {
  display: none;
}

.active {
  font-weight: bold;
  color: var(--primary);
}

.active .sortIcon {
  display: block;
}

.wrapper {
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;
}

.sortButton {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: opacity .4s;
  border: none;
  background: transparent;
  font-family: var(--font-family);
}

.sortButton:hover {
  opacity: .7;
}

.sortButton:not(.active) {
  grid-template-columns: 1fr;
}
