.sortIcon {
  display: none;
}

.active {
  font-weight: bold;
  color: var(--primary);
}

.active .sortIcon {
  display: block;
}

.wrapper {
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;
}

.wrapper span {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: opacity .4s;
}

.wrapper span:hover {
  opacity: .7;
}

.wrapper span:not(.active) {
  grid-template-columns: 1fr;
}