.tag {
  display: inline-block;
  box-sizing: border-box;
  margin-right: 5px;
  border-radius: 20px;
}

.s {
  padding: 5px 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
}

.m {
  padding: 5px 12px;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
}

.ghost {
  border: 1px solid var(--gray-light);
}

.red {
  color: var(--white);
  background: #000;
  background: #de0000;
  font-weight: 700;
}

.gray {
  background: #b3c0d9;
  font-weight: 700;
}

.green {
  background: var(--green-light);
  color: var(--green);
  font-weight: bold;
}

.primary {
  background: #f5f6f8;
  border: 1px solid var(--primary);
  color: var(--primary);
}
