html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  color: var(--black);
  background: #f5f6f8;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #3b434e;
  --gray: #A4A4A4;
  --white: #fff;
  --primary: #7351f5;
  --primary-hover: #a2a1b4;
  --red: #fc836d;
  --red-light: #fca99e;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --font-family: 'Noto Sans', sans-serif;
  --gray-light: #ebebeb;
  --gray-dark: #6c7077;
}
